@import './GlobalVariables.scss';

#appFooter-layout {
    transition: margin-left $transitionDuration;
    background-color: $footerBgColor;
    margin-left: 0;
    padding: 1em 2em;
    height: 100%;
}

img {
    vertical-align: middle;
}

#footer-text {
    vertical-align: top;
}