@import './mixins.scss';
@import './GlobalVariables.scss';

#appTopBar-layout {
    height: 100%;
    left: 0; 
    padding: 1em 2em;
    color: #ffffff;
    z-index: 999;
    right: 0;
    @include clearfix();
    @include linear-gradient-left($topbarLeftBgColor,$topbarRightBgColor);
    transition: left $transitionDuration;
    text-align: left;
    vertical-align: middle;
}

#appTopBar-menu-button {
    background-color: $topbarLeftBgColor;
    border: #ffffff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: $topbarItemColor;
    transition: color $transitionDuration;
    margin-top: -10px;

    span {
        font-size: 1.5em;
    }
    &:hover {
        color: $topbarItemHoverColor;
    }
}

button {
    cursor: pointer;
}