@import './mixins.scss';
@import './GlobalVariables.scss';

.layout-topbar {
    position: fixed;
    height: 8%;
    padding: 1.5em 2em;
    color: #ffffff;
    z-index: 999;
    right: 0;
    @include clearfix();
    @include linear-gradient-left($topbarLeftBgColor,$topbarRightBgColor);
    transition: left $transitionDuration;
    text-align: left;
}

.layout-menu-button {
    background-color: $topbarLeftBgColor;
    border: #ffffff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: $topbarItemColor;
    transition: color $transitionDuration;
    span {
        font-size: 1.5em;
    }
    &:hover {
        color: $topbarItemHoverColor;
    }
}

button {
    cursor: pointer;
}