/* General */
$transitionDuration:.2s;

/* TopBar */
$topbarLeftBgColor:#0388E5;
$topbarRightBgColor:#07BDF4;
$topbarItemColor:#ffffff;
$topbarItemHoverColor:#c3e8fb;

/* Footer */
$footerBgColor:#ffffff;