@mixin linear-gradient-left($left, $right){
    background: $left; /* Old browsers */
    background: linear-gradient(to right,  $left 0%,$right 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$left, endColorstr=$right,GradientType=1 ); /* IE6-9 */
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}