#home {
  height: inherit;
  width: inherit;
}

#logo {
  vertical-align: middle;
  text-align: center;
}

#logo-img {
  height: 400px;
}

#searchbar {  
  vertical-align: middle;
  text-align: center;
}